#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.lista-propriedades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: calc(20% - 10px); 
  margin-bottom: 10px;
  border: 1px solid rgba(128, 128, 128, 0.263);
  border-radius: 1ex;
  background-color: rgba(128, 128, 128, 0.200);
}

.card img{
  max-width: 90%;
  height: auto;
  margin-top: 10px;
}
